.animA {
  position: absolute;
  top: 5px;
  z-index: 5;
}

.animB {
  position: absolute;
  z-index: 5;
  top: 60px;
}

.animC {
  z-index: 5;
  position: absolute;
  font-size: 3rem;
  left: 40px;
}

header {
  margin-bottom: 1rem;
  min-height: 90px;
  border-bottom: solid 2px var(--border-clr);
}
