.contact_container {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: grid;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* display: flex; */
  padding: 1rem;
}

/* .contact-form {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: grid;
  align-items: center;
  justify-content: center;
} */

label {
  display: grid;
  max-width: 500px;
  /* width: 100%; */
}

.inputText {
  min-width: 100%;
  min-height: 100px;
}

.imgConntact {
  max-height: 300px;
  max-width: 200px;
}

@media screen and (max-width: 520px) {
  .inputText {
    min-width: 100%;
    min-height: 100%;
  }
}
