@import '../../vars';

.portfolio {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  margin: 0 auto;

  &_heding {
    align-self: center;
    margin: 2rem;

    font-size: 32px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: space-around;
  }

  &__item {
    background-color: $sec-bc;
    padding: 5px;
    transition: ease-in-out 0.3s;

    padding: 20px;

    &__heading {
      text-align: center;
    }
  }
  
  &__item:hover {
    transform: scale(105%);
  }
}

