.about__container {
  display: flex;
  gap: 3rem;
}
.about__me {
  max-width: 1000px;
  /* aspect-ratio: 1/1; */
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-img {
  border-radius: 2rem;
  border: 3px solid transparent;
  overflow: hidden;
  transform: rotate(15deg);
  transition: var(--transition);
}

.about__me-img:hover {
  transform: rotate(0deg);
  border-color: var(--color-border);
}

.about__cards {
  display: flex;

  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 3px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about__card:hover {
  border-color: var(--color-border);
  border-radius: 2rem;
  transition: var(--transition);
}

.about__icon {
  margin-right: 0.5rem;

  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.about__card h3 {
  font-size: 1rem;
}

.aboutTxt {
  padding-top: 1rem;
  max-width: 1000px;
  margin: 2rem;
  color: var(--color-light);

  background-color: rgba(255, 248, 220, 0.308);

  border-radius: 1.5rem;
  padding-bottom: 10rem;
  /* border: 0.1rem solid white; */
  /* overflow-wrap: wrap; */
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-indent: 1rem;
}

.bullets {
  margin: 1rem;
}

.li__child {
  font-style: italic;
  margin-left: 1.5rem;
  list-style-type: "⥤ ";
  /* color: var(--color-primary); */
}

a {
  background-color: rgb(110, 143, 110);
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(9, 211, 9);
}

/* ============small device=============== */

@media screen and (max-width: 800px) {
  section {
    display: grid;
    padding-top: 2rem;
  }
  .about__container {
    display: grid;
    gap: 2rem;
    max-width: 500px;
  }
  .about__me {
    margin-top: 1rem;
    max-width: 500px;
    aspect-ratio: 1/0.75;
    border-radius: 2rem;
    background: linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
    display: grid;
    place-items: center;
  }

  img {
    border-radius: 1rem;
    max-width: 100%;
  }

  .about__me-img {
    /* border-radius: 2rem; */
    border-radius: 1rem;
    max-width: 100%;
    border: 3px solid transparent;
    overflow: hidden;
    transform: rotate(15deg);
    transition: var(--transition);
  }

  .about__me-img:hover {
    transform: rotate(0deg);
    border-color: var(--color-border);
  }

  .about__cards {
    display: flex;

    gap: 1.5rem;
  }

  .about__card {
    background: var(--color-bg-variant);
    border: 3px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about__card:hover {
    border-color: var(--color-border);
    border-radius: 2rem;
    transition: var(--transition);
  }

  .about__icon {
    margin-right: 0.5rem;

    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .about__card h3 {
    font-size: 1rem;
  }

  .aboutTxt {
    padding-top: 1rem;
    max-width: 1000px;
    margin: 2rem;
    color: var(--color-light);

    background-color: rgba(255, 248, 220, 0.308);

    border-radius: 1.5rem;
    padding-bottom: 10rem;
  }

  p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    text-indent: 1rem;
  }

  .bullets {
    margin: 1rem;
  }

  .li__child {
    font-style: italic;
    margin-left: 1.5rem;
    list-style-type: "⥤ ";
  }
}
