@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,900;1,300;1,600&display=swap");

:root {
  --bg-card: gray;
  --border-clr: #43cc47;
  --border-clr-alter: ;

  --transition: all 700ms ease-in-out 25ms;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, white, rgba(128, 128, 128, 0.288), white);
  animation: animBack 10s infinite;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

a {
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(1, 240, 248);
  transition: var(--transition);
}

a:hover {
  color: rgb(250, 4, 229);
}

@keyframes animBack {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100vh;
  }
  100% {
    background-position: 0;
  }
}

@media screen and (max-width: 800px) {
  body {
    animation: animBack 30s infinite;
  }
}
