.about__container {
  border-radius: 1rem;
  max-width: 1100px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* gap: 3rem; */
}
.about__me {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

img {
  border-radius: 1rem;
  border: 1px solid transparent;
}

img:hover {
  border: 1px solid var(--border-clr);
}

.about__cards {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.about__card {
  border: 3px solid rgba(255, 0, 212, 0.041);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__card:hover {
  border: solid 1px var(--border-clr);
  border-radius: 1rem;
  transition: var(--transition);
}

.about__icon {
  margin-right: 0.5rem;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.about__card h3 {
  font-size: 1rem;
}

p {
  max-width: 1100px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-indent: 1rem;
}

.bullets {
  display: grid;
  justify-content: center;
  margin: 1rem;
}

.li__child {
  font-style: italic;
  margin-left: 1.5rem;
  list-style-type: "⥤ ";
}

/* ============small device=============== */

@media screen and (max-width: 800px) {
  .about__container {
    display: grid;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
  }
}

@media screen and (max-width: 520px) {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .about__cards {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
  }

  .about__card {
    width: 20rem;
  }
}

@media screen and (max-width: 370px) {
  .about__card {
    width: 10rem;
  }
}
