@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,900;1,300;1,600&display=swap");

:root {
  --bg-card: gray;
  --border-clr: #43cc47;
  --border-clr-alter: ;

  --transition: all 700ms ease-in-out 25ms;
}

body {
  max-width: 960px;

  margin: auto;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

a {
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(0, 96, 99);
  transition: var(--transition);
}

a:hover {
  color: rgb(152, 0, 139);
}

.hireMeBtn {
  position: relative;
  top: -2rem;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: burlywood;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hireMeBtn:hover {
  background-color: cadetblue;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
