nav {
  background: rgba(28, 235, 1, 0.144);

  padding: 0.7rem 1.7rem;
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 1rem;
  /* gap: 0.8rem; */

  border-radius: 3rem;
  backdrop-filter: blur(10px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  /* display: flex; */
  color: var(--color-light);
  /* font-size: 1.9rem; */
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}

@media screen and (max-width: 500px) {
  nav {
    bottom: 1rem;
  }
}
