nav {
  z-index: 11;
  background: rgba(28, 235, 1, 0.151);
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  top: 5px;
  right: 5px;
}

nav button {
  font-size: 1.5rem;
  border: transparent;
  background: transparent;
}

nav button:hover {
  transition: var(--transition);
  border-bottom: solid 3px gray;
}

.act {
  border-bottom: solid 3px var(--border-clr);
  transition: var(--transition);
}

@media screen and (max-width: 600px) {
  nav {
    display: grid;
    top: 0;
  }
}
